footer {
    background-color: #333333;
    padding: 30px 0;

    .articles {
        margin-bottom: 200px;
    }

    .container {
        width: 60%;
        margin: 60px auto;
        text-align: center;
    }

    .about {
        width: 40%;

        h4 {
            color: #fff;
            font-family: "Oswald";
            font-weight: 300;
            text-transform: uppercase;
        }

        p {
            font-weight: 300;
            color: grey;
            line-height: 30px;

        }
    }

    .follow {
        width: 25%;

        h4 {
            color: #fff;
            font-family: "Oswald";
            font-weight: 300;
            text-transform: uppercase;
        }

        .fab {
            color: grey;
            font-size: 20px;

            &:hover {
                color: #fff;
            }
        }

        .social {
            display: flex;
            justify-content: space-between;
        }
    }

    .copyright {
        color: grey;
        position: relative;

        a {
            color: #fff;
            text-decoration: none;
        }

        ::before {
            content: ' ';
            width: 100%;
            height: 1px;
            top: -20px;
            left: 0;
            background-color: rgb(255, 255, 255);
            position: absolute;
        }
    }
}


@media screen and (max-width: 780px) {
    footer {
     
    
        .container {
            width: 90%;
        }
    
        .about {
            width: 70%;

        }
    
        .follow {
            width: 50%;
    
            .social {
                display: flex;
                justify-content: space-between;
            }
        }
    
    }

}