img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #37cfa2;
    padding: 15px 40px;
    color: white;
    font-weight: 400 !important;
    border: 0px;
    border-radius: 5px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-family: 'Roboto';
    display: inline-block;
}

h1,
h2,
h3 {
    font-family: "Oswald";
    font-weight: 300;
    text-transform: uppercase;
    font-size: 48px;
}

main {
    .container {
        width: 70%;
        margin: 30px auto;
    }

    h2 {
        color: #37cfa2;
        font-size: 45px;
    }

    h3 {

        font-size: 22px;
    }

}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.article {
    position: relative;

    img {
        width: 350px;
        height: 450px;
    }

    &::before {
        content: ' ';
        width: 100%;
        height: 97%;
        background-color: black;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: -1;
        transition: all .3s ease-in-out;
        opacity: 0;
    }

    &:hover:before {
        opacity: 1;
        left: 30px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    .text {
        margin-left: 0px;
        transition: all .3s ease-in-out;

        p {
            color: rgb(143, 143, 143);
        }
    }

    &:hover .text {
        margin-left: 50px;
        transition: all .3s ease-in-out;

        h3 {
            color: #fff;
        }
    }
}

.profile {
    width: 30%;
   .image{
       overflow: hidden;
       img{
        transition: all .2s ease; 
       }
   }
    .image:hover img{
        transform: scale(1.10);
        transition: all .2s ease; 
    }

}

.name {
    background-color: #37cfa2;
    display: inline-block;
    width: 100%;
    padding: 10px;
    z-index: 22;

    p:nth-child(1) {
        text-transform: uppercase;
        font-family: "Oswald";
        font-weight: 300;
    }
    
    p:nth-child(2) {
        font-weight: 400;
    }
}