img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #37cfa2;
    padding: 15px 40px;
    color: white;
    font-weight: 400 !important;
    border: 0px;
    border-radius: 5px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-family: 'Roboto';
    display: inline-block;
}

h1,
h2,
h3 {
    font-family: "Oswald";
    font-weight: 300;
    text-transform: uppercase;
    font-size: 48px;
}

main {
    .container {
        width: 70%;
        margin: 60px auto;
    }

    h2 {
        color: #37cfa2;
        font-size: 45px;
    }

    h3 {

        font-size: 22px;
    }

}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.article {
    position: relative;
    margin-bottom: 10px;

    img {
        width: 350px;
        height: 450px;
    }

    &::before {
        content: ' ';
        width: 100%;
        height: 97%;
        background-color: black;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: -1;
        transition: all .3s ease-in-out;
        opacity: 0;
    }

    &:hover:before {
        opacity: 1;
        left: 30px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    .text {
        margin-left: 0px;
        transition: all .3s ease-in-out;

        p {
            color: rgb(143, 143, 143);
        }
    }

    &:hover .text {
        margin-left: 50px;
        transition: all .3s ease-in-out;

        h3 {
            color: #fff;
        }
    }
}

.profile {
    width: 30%;

    .image {
        overflow: hidden;

        img {
            transition: all .2s ease;
        }
    }

    .image:hover img {
        transform: scale(1.10);
        transition: all .2s ease;
    }

}

.name {
    background-color: #37cfa2;
    display: inline-block;
    width: 100%;
    padding: 10px;
    z-index: 22;

    p:nth-child(1) {
        text-transform: uppercase;
        font-family: "Oswald";
        font-weight: 300;
    }

    p:nth-child(2) {
        font-weight: 400;
    }
}

.block {
    background-color: #37cfa2;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;

    h2 {
        color: #000;
    }
}

.fas {
    font-size: 40px;
}

.step {
    width: 20%;
    position: relative;

    &:not(:nth-of-type(3))::after {
        content: ' ';
        width: 100px;
        height: 1px;
        top: 50%;
        left: 130%;
        background-color: black;
        position: absolute;
    }
}


.news {

    width: 30%;

    span {
        color: rgb(143, 143, 143);

        &:not(:nth-of-type(3))::after {
            content: "•";
            position: relative;
            margin: 0 10px;
        }
    }

    a {
        color: #37cfa2;
        text-decoration: none;
    }
}



.contact {
    background: #fafafa;
    padding: 20px 0;

    .formulaire {
        background: #fff;
        padding: 30px;
        width: 50%;

        input,
        textarea {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #d4d4d4;
            width: 100%;
            margin: 10px 0 20px 0;
        }

        textarea {
            resize: vertical;
        }

        .nom {
            display: flex;
            justify-content: space-between;
        }
    }

    .informations {
        background: #fff;
        padding: 30px;
        width: 35%;
        height: 100%;
        display: inline-block;

        a {
            color: #37cfa2;
            text-decoration: none;
        }
    }
}


@media screen and (max-width: 1300px) {


    main {
        .container {
            width: 80%;
        }
    }

    .articles {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        flex-wrap: wrap;
        align-items: center;
    }
    .profile {
        width: 45%;
        margin-bottom: 20px;
    }

    .step {
        &:not(:nth-of-type(3))::after {
            display: none;
            
        }
    }
}

@media screen and (max-width: 780px) {

    .container {
        width: 90%;
    }

    .articles {
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }


    .profile {
        width: 100%;
    }

    .step {
        width: 50%;
        margin-bottom: 20px;
        
    }

    .news {

        width: 100%;
        margin-bottom: 20px;
    }

    .contact {
        background: #fafafa;
        padding: 20px 0;
    
        .formulaire {
            width: 100%;  
        }
    
        .informations {
            width: 100%;
         
        }
    }
}