// 2eme slider
.swiper-container.property {
    width: 100%;

    .swiper-slide::after {
        display: none;
    }

    .hero1 {
        background-image: url(../img/property_2.jpg);
        width: 100% !important;

    }

    .hero2 {
        background-image: url(../img/property_1.jpg);
        width: 100% !important;
    }

}



.swiper-slide.hero1.single.prop {
    height: 50vh;
}

.swiper-slide.prop::after {
    height: 50vh;
}

.slider,
.details {
    width: 50%;
}

.details {
    padding: 0 60px;

    h3 {
        color: #000;
        font-size: 32px;

        &:first-child {
            margin: 0;
        }
    }

    p {
        line-height: 25px;
    }
}

.cercle-profile {
    border-radius: 200px;
    width: 100px;
}



@media screen and (max-width: 1300px) {
    .main-property {
        .content {
            align-items: center;
        }

        .slider,
        .details {
            width: 80%;
        }

        .details{
            padding: 0 60px;
            h3{
               
                &:first-child{
                    margin: 20px 0;
                }
            }
           
        }

    }


}

@media screen and (max-width: 780px) {
    .main-property {

        .slider,
        .details {
            width: 100%;
        }


    }

    .swiper-slide.hero1.single.prop{
        .contenu{
            width: 90%;
          }
          
    }


}